@import "/skin/portal/default-portal.css";
@import "/skin/page/default-page.css";
@import "/skin/container/default-container.css";
@import "/skin/portlet/styles/default-portlet.css";
@import "/skin/portlet/decorators/default-decorator.css";
@import "/skin/components/components.css";
