# ==================================================================
# TABLES
# ==================================================================

#foreach ($jpaTable in $jpaTables)

# $jpaTable.name

${jpaTable.uniqueName}.label = $jpaTable.name
${jpaTable.uniqueName}.tooltip = $jpaTable.description

#foreach ($jpaColumn in $jpaTable.getColumns())
${jpaColumn.uniqueName}.label = $jpaColumn.name
${jpaColumn.uniqueName}.tooltip = $jpaColumn.description
#end

# ------------------------------------------------------------------
# Subentities
# ------------------------------------------------------------------
#foreach ($jpaSubEntity in $jpaTable.getSubEntities())
${jpaSubEntity.uniqueName}.label = $jpaSubEntity.label
${jpaSubEntity.uniqueName}.tooltip = $jpaSubEntity.tooltip

#foreach ($jpaColumn in $jpaSubEntity.getColumns())
${jpaColumn.uniqueName}.label = $jpaColumn.name
${jpaColumn.uniqueName}.tooltip = $jpaColumn.description
#end
#end

#end

# ==================================================================
# VIEWS
# ==================================================================

#foreach ($jpaView in $jpaViews)
${jpaView.uniqueName}.label = $jpaView.name
${jpaView.uniqueName}.tooltip = $jpaView.description
#end


