##included template. Generates the @ManyToOne annotation.
##Assumes that the context has a "role" object representing the generated AssociationRole
##
#set ($members = $jpaRelationship.getGenCascadesWithAnnotation())
#if( $jpaRelationship.genFetch() != "" && $jpaRelationship.genFetch() != "FetchType.EAGER")
#set ($members = $jpaRelationship.getGenFetchWithAnnotation($members))
#end
#if($members!="")
@ManyToOne($members)
#else
@ManyToOne
#end
@JoinColumn( name=$jpaRelationship.getSimpleSourceColumnName(), insertable = false, updatable = false)
