# ==================================================================
# TABLES
# ==================================================================

#foreach ($jpaTable in $jpaTables)

# $jpaTable.name

${jpaTable.uniqueName}.visible = $jpaTable.getAttribute("structural.visible")
${jpaTable.uniqueName}.type = $jpaTable.getAttribute("structural.tabletype")
${jpaTable.uniqueName}.position = $velocityCount

#foreach ($jpaColumn in $jpaTable.getSimpleColumns(true, true, false))
${jpaColumn.uniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaColumn.uniqueName}.type = $jpaColumn.getAttribute("structural.columntype")
${jpaColumn.uniqueName}.position = $velocityCount
#end

# ------------------------------------------------------------------
# Subentities
# ------------------------------------------------------------------
#foreach ($jpaSubEntity in $jpaTable.getSubEntities())
${jpaSubEntity.uniqueName}.visible = $jpaSubEntity.getAttribute("structural.visible")
${jpaSubEntity.uniqueName}.type = $jpaSubEntity.getAttribute("structural.tabletype")
${jpaSubEntity.uniqueName}.position = $velocityCount

#foreach ($jpaColumn in $jpaSubEntity.getColumns())
${jpaColumn.uniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaColumn.uniqueName}.type = $jpaColumn.getAttribute("structural.tabletype")
${jpaColumn.uniqueName}.position = $velocityCount

#end
#end

#end

# ==================================================================
# VIEWS
# ==================================================================

#foreach ($jpaView in $jpaViews)


# $jpaView.name

#foreach ($jpaTable in $jpaView.innerTables)

${jpaTable.uniqueName}.visible = false
${jpaTable.uniqueName}.type = dimension

#foreach ($jpaColumn in $jpaTable.columns)
${jpaColumn.uniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaColumn.uniqueName}.type = $jpaColumn.getAttribute("structural.columntype")
#end

#end

#end
