# ==================================================================
# TABLES
# ==================================================================

#foreach ($jpaTable in $jpaTables)

# $jpaTable.name

${jpaTable.uniqueName}.visible = $jpaTable.getAttribute("structural.visible")
${jpaTable.uniqueName}.type = $jpaTable.getAttribute("structural.tabletype")
${jpaTable.uniqueName}.position = $velocityCount

#foreach ($jpaColumn in $jpaTable.getColumns())
${jpaColumn.uniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaColumn.uniqueName}.type = $jpaColumn.getAttribute("structural.columntype")
${jpaColumn.uniqueName}.position = $velocityCount
#end

# ------------------------------------------------------------------
# Subentities
# ------------------------------------------------------------------
#foreach ($jpaSubEntity in $jpaTable.getSubEntities())
${jpaSubEntity.uniqueName}.visible = $jpaSubEntity.getAttribute("structural.visible")
${jpaSubEntity.uniqueName}.type = $jpaSubEntity.getAttribute("structural.tabletype")
${jpaSubEntity.uniqueName}.position = $velocityCount

#foreach ($jpaColumn in $jpaSubEntity.getColumns())
${jpaSubEntity.uniqueName}/${jpaColumn.UnqualifiedUniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaSubEntity.uniqueName}/${jpaColumn.UnqualifiedUniqueName}.type = $jpaColumn.getAttribute("structural.columntype")
${jpaSubEntity.uniqueName}/${jpaColumn.UnqualifiedUniqueName}.position = $velocityCount

#end
#end

#end

# ==================================================================
# VIEWS
# ==================================================================

#foreach ($jpaView in $jpaViews)
${jpaView.uniqueName}.visible = $jpaView.getAttribute("structural.visible")
${jpaView.uniqueName}.type = $jpaView.getAttribute("structural.tabletype")

# $jpaView.name

#foreach ($jpaTable in $jpaView.innerTables)

${jpaTable.uniqueName}.visible = false
${jpaTable.uniqueName}.type = dimension

#foreach ($jpaColumn in $jpaTable.columns)
${jpaView.uniqueName}/${jpaColumn.uniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaView.uniqueName}/${jpaColumn.uniqueName}.type = $jpaColumn.getAttribute("structural.columntype")
#end

#end

#end
