/***********************************************************************************
 *	SpagoBI styles                                                          	   *
 *                                                                                 *
 *                                                                                 *
 ***********************************************************************************/

/* Table with the header title and buttons for each section of the SpagoBI portlet*/
table.header-table-portlet-section {
	width:100%;
	cellspacing:0;
	cellpadding:0;
	border: 1px solid #cccccc;
	/*margin-bottom: 4px;*/
}

/* Sub-table with the header title and buttons for each section of the SpagoBI portlet*/
table.header-sub-table-portlet-section {
	width:100%;
	cellspacing:0;
	cellpadding:0;
	border: 1px solid lightgrey;
	/*margin-bottom: 4px;*/
}

/* Row of the table with the header title and buttons for each section of the SpagoBI portlet*/
tr.header-row-portlet-section {
	height: 30px;
}

/* Row of the sub-table with the header title and buttons for each section of the SpagoBI portlet*/
tr.header-sub-row-portlet-section {
	height: 20px;
}

/* Column with the header title for each section of the SpagoBI portlet*/
td.header-title-column-portlet-section {
	padding: 0px 0px 0px 1px;
	background-color: #cccccc;
 	font-family: Arial,Verdana,Geneva,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #074B88;
	horizontal-align: left;
	vertical-align: middle;
	background-image: url('/spagobi/img/white_corner.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

/* Column with the header title for single object execution section of the SpagoBI portlet*/
td.header-title-column-single-object-execution-portlet-section {
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #bbb;
	background-color: rgb(228, 236, 242);
	color: #074B88;
	height: 25px;
	vertical-align: middle;
	border-top: 1px solid #bbb;
	horizontal-align: left;
	background-image: url('/spagobi/img/white_corner.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

/* Column with the header sub-title for each section of the SpagoBI portlet*/
td.header-sub-title-column-portlet-section {
	padding: 0px 0px 0px 1px;
	background-color: lightgrey;
 	font-family: Arial,Verdana,Geneva,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #074B88;
	horizontal-align: left;
	vertical-align: middle;
	background-image: url('/spagobi/img/white_corner.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

/* Column with the header title for sections without buttons of the SpagoBI portlet*/
td.header-title-column-portlet-section-no-buttons {
	padding: 0px 0px 0px 1px;
	background-color: #cccccc;
 	font-family: Arial,Verdana,Geneva,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #074B88;
	horizontal-align: left;
	vertical-align: middle;
}

/* Column with the header title for sections without buttons of the SpagoBI portlet*/
td.header-sub-title-column-portlet-section-no-buttons {
	padding: 0px 0px 0px 1px;
	background-color: lightgrey;
 	font-family: Arial,Verdana,Geneva,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #074B88;
	horizontal-align: left;
	vertical-align: middle;
}

/* Column with the header title for sections with select form the SpagoBI portlet*/
td.header-select-column-portlet-section {
	vertical-align: middle;
	width: 35px;
	background-color:white;
}

/* Column with a button for each section of the SpagoBI portlet*/
td.header-button-column-portlet-section {
	vertical-align: middle;
	width: 35px;
	background-color:white;
}

/* Column with a button for single object execution section of the SpagoBI portlet*/
td.header-button-column-single-object-execution-portlet-section {
	vertical-align: middle;
	width: 35px;
	background-color:white;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

/* Image of a button in the header table for each section of the SpagoBI portlet*/
img.header-button-image-portlet-section {
	width:25px;
	height:25px;
}

/* Image of a button in the header table for each section of the SpagoBI portlet*/
input.header-button-image-portlet-section {
	width:25px;
	height:25px;
}

/* Empty column in the header table for each section of the SpagoBI portlet*/
td.header-empty-column-portlet-section {
	background-color:white;
	width:10px;
}

/* Empty column in the header table for single object execution section of the SpagoBI portlet*/
td.header-empty-column-single-object-execution-portlet-section {
	background-color:white;
	width:10px;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
}

/* Part with details of an object (engine, parameters, ...) in the SpagoBI portlet*/
div.object-details-div {
	float: left;
	margin: 5px 5px 5px 5px;
}

/* Table with details of an object (engine, parameters, ...) in the SpagoBI portlet*/
table.object-details-table {
	cellspacing: 0;
	border: 0;
}

/* Part with details of an object (engine, parameters, ...) in the SpagoBI portlet*/
div.errors-object-details-div {
	margin: 11px 5px 5px 20px;
}

/* Part with details of an object (engine, parameters, ...) in the SpagoBI portlet*/
table.errors-object-details-table {
	cellspacing: 0;
	border: 1px solid #cccccc;
}

/* Part with details of an object (engine, parameters, ...) in the SpagoBI portlet*/
ul.errors-object-details-ul {
	margin: 0px;
	padding: 0px 15px 0px 10px;
	type: square;
}

