<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Datamart Category"
            id="it.eng.spagobi.meta.datamartTree">
      </category>
      <view
            name="Datamart Tree"
            icon="icons/sample.gif"
            category="it.eng.spagobi.meta.datamartTree"
            class="it.eng.spagobi.meta.datamarttree.views.DataMartTreeView"
            id="it.eng.spagobi.meta.datamarttree.views.DataMartTreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="it.eng.spagobi.meta.datamarttree.views.DataMartTreeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         id="datamartFieldDrop"
         name="Datamart Field Resource Drop"
         point="org.eclipse.ui.dropActions">
      <action     
            class="it.eng.spagobi.meta.datamarttree.views.DatamartFieldPluginDropAdapter"
            id="it.eng.spagobi.meta.datamarttree.bo.datamartFieldDrop">
      </action>
   </extension>
   

</plugin>
