<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>SpagoBIJPaloEngine</display-name>
	<description>
		SpagoBI - Palo Web Client Engine
	</description>
	
	<!--  ============================================================================ -->
	<!--  FILTERS								 									   -->
	<!--  ============================================================================ -->
	
	<filter>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<filter-class>
			it.eng.spagobi.utilities.filters.SpagoBIAccessFilter
		</filter-class>
	</filter>
	  
	
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>
			com.tensegrity.palowebviewer.server.filter.NoCacheFilter
		</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>private,no-cache,no-store</param-value>
		</init-param>
	</filter>	
	
	
	<!-- 
	<filter>
		<filter-name>CAS_Filter</filter-name>
		<filter-class>
			edu.yale.its.tp.cas.client.filter.CASFilter
		</filter-class>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.loginUrl
			</param-name>
			<param-value>
				https://localhost:8443/exo-cas-2/login
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.validateUrl
			</param-name>
			<param-value>
				https://localhost:8443/exo-cas-2/serviceValidate
			</param-value>
		</init-param>
    <init-param>
       <param-name>edu.yale.its.tp.cas.client.filter.serverName</param-name>
       <param-value>localhost:8443</param-value>
    </init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.proxyCallbackUrl
			</param-name>
			<param-value>
				https://localhost:8443/SpagoBIJasperReportEngine/proxyReceptor
			</param-value>
		</init-param>	
	
	</filter>
	-->
	
	<!--  ============================================================================ -->
	<!--  FILTER MAPPINGS						 									   -->
	<!--  ============================================================================ -->
	  	
	<filter-mapping>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<url-pattern>/com.tensegrity.palowebviewer.modules.application.Application/JPaloEngineStartServlet</url-pattern>
	</filter-mapping>
	
	
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	
	
	
	<!--  ============================================================================ -->
	<!--  SERVLETS								 									   -->
	<!--  ============================================================================ -->
  	
	<servlet>
		<servlet-name>engine-service</servlet-name>
		<servlet-class>
			com.tensegrity.palowebviewer.modules.engine.server.EngineService
		</servlet-class>
	</servlet>
	
	<servlet>
  		<servlet-name>ProxyTicketReceptor</servlet-name> 
  		<servlet-class>edu.yale.its.tp.cas.proxy.ProxyTicketReceptor</servlet-class> 
		<init-param>
  			<param-name>edu.yale.its.tp.cas.proxyUrl</param-name> 
  			<param-value>https://localhost:8443/exo-cas-2/proxy</param-value> 
  		</init-param>
   	</servlet>
   	
   	<servlet>
		<servlet-name>JPaloEngineStartServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.engines.jpalo.JPaloEngineStartServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EngineTestServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.utilities.engines.EngineTestServlet
		</servlet-class>
	</servlet>
	
	<!--  ============================================================================ -->
	<!--  SERVLET MAPPINGS						 									   -->
	<!--  ============================================================================ -->	

	<servlet-mapping>
		<servlet-name>engine-service</servlet-name>
		<url-pattern>
			/com.tensegrity.palowebviewer.modules.application.Application/engine
		</url-pattern>
	</servlet-mapping>
	
	 <servlet-mapping>
  		<servlet-name>ProxyTicketReceptor</servlet-name> 
  		<url-pattern>/proxyReceptor</url-pattern> 
  	</servlet-mapping> 
  	
	<servlet-mapping>
        <servlet-name>JPaloEngineStartServlet</servlet-name>
        <url-pattern>/com.tensegrity.palowebviewer.modules.application.Application/JPaloEngineStartServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
		<servlet-name>EngineTestServlet</servlet-name>
		<url-pattern>/com.tensegrity.palowebviewer.modules.application.Application/JPaloEngineStartServletTest</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	  <error-page>
	  	<exception-type>java.lang.Throwable</exception-type>
	  	<location>/html/error.html</location>
	  </error-page>
		 
	  <error-page>
	  	<error-code>404</error-code>
	  	<location>/html/error.html</location>
	  </error-page>
  
	  <error-page>
	  	<error-code>500</error-code>
	  	<location>/html/error.html</location>
	  </error-page>
	
</web-app>
