<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!-- 
	you must provide a value for the display name tag and it should 
	match the context root of this web application
	-->
    <display-name>SpagoBI</display-name>
    <description>
        This application is a portlet. It can not be used outside a portal.
	</description>


 <!-- 
 <filter>
 <filter-name>CAS_Filter</filter-name>
 <filter-class>edu.yale.its.tp.cas.client.filter.CASFilter</filter-class>
    <init-param>
       <param-name>edu.yale.its.tp.cas.client.filter.loginUrl</param-name>
       <param-value>https://localhost:8443/exo-cas-2/login</param-value>
    </init-param>
    <init-param>
       <param-name>edu.yale.its.tp.cas.client.filter.validateUrl</param-name>
       <param-value>https://localhost:8443/exo-cas-2/serviceValidate</param-value>
    </init-param>
  
    <init-param>
       <param-name>edu.yale.its.tp.cas.client.filter.serverName</param-name>
       <param-value>localhost:8443</param-value>
    </init-param>
     
       <init-param>
  			 <param-name>edu.yale.its.tp.cas.client.filter.proxyCallbackUrl</param-name> 
             <param-value>https://localhost:8443/SpagoBI/proxyReceptor</param-value> 
       </init-param>           
 </filter>    
 -->   
    
  	<!-- This filter tries to create the user profile object before AdapterHTTP servlet execution -->
 	<filter>
		<filter-name>ProfileFilter</filter-name>
		<filter-class>it.eng.spagobi.commons.filters.ProfileFilter</filter-class>
	</filter>
  	
 <!--  	
   <filter-mapping>
    <filter-name>CAS_Filter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>  
 -->
	<filter-mapping>
		<filter-name>ProfileFilter</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
 
    <!-- START LISTENERS -->
    <listener>
        <listener-class>it.eng.spagobi.tools.scheduler.listeners.SchedulerContextListener</listener-class>
    </listener>
    <!-- 
    <listener>
        <listener-class>org.exoplatform.services.portletcontainer.impl.servlet.PortletApplicationListener</listener-class>
    </listener>
    -->
    <!-- END LISTENERS -->
    
    <!-- START SERVLET DEFINITIONS -->
    
  <servlet>

     <servlet-name>QuartzInitializer</servlet-name>
     <display-name>Quartz Initializer Servlet</display-name>
     <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
     <load-on-startup>1</load-on-startup>
     <init-param>
        <param-name>shutdown-on-unload</param-name>
        <param-value>true</param-value>
     </init-param>

     <init-param>
       <param-name>start-scheduler-on-load</param-name>
       <param-value>false</param-value>
    </init-param>

 </servlet>
 
	<servlet>
  		<servlet-name>ProxyTicketReceptor</servlet-name> 
  		<servlet-class>edu.yale.its.tp.cas.proxy.ProxyTicketReceptor</servlet-class> 
		<init-param>
  			<param-name>edu.yale.its.tp.cas.proxyUrl</param-name> 
  			<param-value>https://localhost:8443/exo-cas-2/proxy</param-value> 
  		</init-param>
  	</servlet>
  	    
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>it.eng.spago.configuration.ConfigServlet</servlet-class>
        <init-param>
            <param-name>AF_CONFIG_FILE</param-name>
            <param-value>/WEB-INF/conf/master.xml</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdapterHTTP</servlet-name>
        <servlet-class>it.eng.spago.dispatching.httpchannel.AdapterHTTP</servlet-class>
    </servlet>
    <!-- 
    <servlet>
        <servlet-name>PortletWrapper</servlet-name>
        <servlet-class>org.exoplatform.services.portletcontainer.impl.servlet.ServletWrapper</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>it.eng.qbe.services.ReportServlet</servlet-class>
    </servlet>
    <!-- start axis servlet -->
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <!-- end axis servlet -->




    <!-- START SERVLET MAPPINGS -->


	<servlet-mapping>
  		<servlet-name>ProxyTicketReceptor</servlet-name> 
  		<url-pattern>/proxyReceptor</url-pattern> 
  	</servlet-mapping> 
  	
    <servlet-mapping>
        <servlet-name>AdapterHTTP</servlet-name>
        <url-pattern>/servlet/AdapterHTTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/servlet/AdminServlet</url-pattern>
    </servlet-mapping>
    <!-- end axis servlet -->
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <!-- 
    <servlet-mapping>
        <servlet-name>PortletWrapper</servlet-name>
        <url-pattern>/PortletWrapper</url-pattern>
    </servlet-mapping>
	-->


     
	<!-- END SERVLET MAPPINGS --> 


    <!-- OTHER CONFIGURATIONS -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

	  <error-page>
	  	<exception-type>java.lang.Throwable</exception-type>
	  	<location>/html/error.html</location>
	  </error-page>
		 
	  <error-page>
	  	<error-code>404</error-code>
	  	<location>/html/error.html</location>
	  </error-page>
  
	  <error-page>
	  	<error-code>500</error-code>
	  	<location>/html/error.html</location>
	  </error-page>


     
</web-app>
