@import "UIGrid.css" ;
@import "UIDivForm.css" ;
@import "UIDivInfo.css" ;
@import "UIToolbar.css" ;
@import "UIExoPermissionBrowser.css" ;
@import "UISearcher.css" ;
@import "UITabs.css" ;
@import "UIPageIterator.css" ;
@import "/resources/script/skin/PopupInfo.css" ;
@import "portlet-info-bar.css" ;
@import "horizontal-menu.css" ;
@import "UIGridForum.css";
@import "UIProfileInfo.css";
@import "calendar.css";
@import "CategoryBrowser.css";
@import "jsr168-portlet.css";
/***************************************/

div {
  padding:  0px ; margin: 0px ;
}

table {
  padding:  0px ; margin: 0px ;
  border-spacing:  0px ;
  border-collapse: collapse ;
  width:  100% ;
}

th, td {
  padding:  0px ; margin: 0px ;
}

img {
  padding:  0px ; margin: 0px ; border: none ;
}

form {
  padding:  0px ; margin: 0px ;
}

body {
  background: white ;
  margin: 0px ; padding: 0px;
}
/*###############################################################################################*/
/* community portal */
.community {
  background: white;
  text-align: justify ;
  font-size: 12px ;
  font-family: Arial, Tahoma, Helvetica, sans-serif;  
  padding: 1px;
  margin:0px;
  
}

/*  customizable block in the portal and page edit mode*/
.community .customizable-block {
  border: 1px solid  rgb(163, 171, 182) ;
  background: white ;
  margin:  10px ;
  padding: 0px;
  position: relative ;
}

.community .customizable-block div, 
.community .customizable-block table {
  position: relative;
}

.community .customizable-block .info-bar {
  background: #dee7ef ;
  color: #660066;
  font-size : 13px;
  z-index: 7 ;
  overflow:  hidden ;
  width:  100%;
  border-bottom: 1px solid  rgb(163, 171, 182);
}

.community .customizable-block .dragable {
  cursor: move;
}

.community .customizable-block .info-bar a {
  text-decoration : none;
}


/*** community  portlet decorator ***/
.community .community-decorator {
	margin-bottom: 5px ;
}

.community .default-decorator {
  width: 100% ; height: auto ;
  padding: 0px ;
  margin: 0px ;
}



/*** toolbar - menu ***/
.community .community-toolbar-portlet {
  background: url('../images/bg-menu-none-3x26.jpg') repeat-x top; 
  height: 26px;  
  padding:0px;  margin:  0px ;
}

/*** login  portlet ***/
.community .community-login-portlet {
  width:  325px ;
  background: transparent url(../images/bg-menu-none-3x26.jpg) repeat-x top; 
  height:  26px ;
  padding:0px;  margin:  0px ;
  overflow: hidden;
}

.community .community-login-portlet .UIDivLoginForm {
  font-size: 11px ;
  color: white ; 
  padding: 2px 0px;
}

.community .community-login-portlet .UIDivLoginForm  input {
  width: 100px; height:16px; 
  border:inset 1px; 
  background:#eeeff3; 
  padding:0px;  margin:  0px ;
}

.community .community-login-portlet .UIDivLoginForm  div {
  float: left;
}

.community .community-login-portlet .UIDivLoginForm  .button {
  width: 15px; 
  padding: 4px 0px 0px 5px ; 
  
}
/*** Logout ***/
.community .community-login-portlet .UILogout {
  float:  right;
}
.community .community-login-portlet .UILogout div {
  float: left ;
  padding: 3px 0px 0px 0px;
  text-align:  right;
}

.community .community-login-portlet .UILogout .welcome{
  color: white;
  font-size: 10px ;
  font-weight:bold;
}

.community .community-login-portlet .UILogout .fullname {
  color:#0099FF;
	font-size:10px;
	font-weight:bold;
	margin: 0px 10px 0px 10px;
}
.community .community-login-portlet .UILogout .logout {
	padding: 0px 5px 5px 0px;
}

.community .community-login-portlet .UILogout a {
  color: white;
  text-decoration: none;
  font-size:10px;
	font-weight:bold;	
}
/*** Breadcums ***/

.community .breadcumbs{
	margin: 5px 0px 5px 5px; 	
	font-size:11px;
	font-weight:bold;
	color: black ;
}
.community .breadcumbs a{
	font-size:11px;
	font-weight:bold;
	text-decoration: none ;
	color: black ;
}

/*** Vertical Navigation ***/
.community .vertical-navigation-view-mode {
	font-size: 11px;
	font-weight:bold;
	color:#46475e;
}

.community .vertical-navigation-view-mode a{
	font-size: 11px;
	font-weight:bold;
	text-decoration:none;
	color:#46475e;
}

.community .vertical-navigation-view-mode ul{
	margin:5px 10px;
	padding:0px;
	list-style-type:none;
}

.community .vertical-navigation-view-mode img{
	height:16px; 
	vertical-align:middle;
}

/*-----------------------------------------------------------------------*/
.UINavigationManager {
  width: 100% ;
  height : 100%;
  font-size : 10pt;
  font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;  
}

.UINavigationManager .root{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 1px;
}

.UINavigationManager .root-node {
  height : 100%;
  padding: 0px 0px ;
  margin: 0px 2px;
}  

.UINavigationManager .root-node img{
  vertical-align : bottom;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.UINavigationManager .tree-node {
  height: auto;
  padding: 0px;
  margin: 0px 0px;
  background-position: 0% 0%;
  background-image: url("/skin/images/icons/default-theme/16x16/line.gif");
  background-repeat: repeat-y;
}

.UINavigationManager .last-tree-node {
  padding: 0px;
  margin: 0px 0px;
}

.UINavigationManager .tree-item {
  padding: 0px;
  margin: 0px 0px 0px 18px;
  height: auto;
 }

.UINavigationManager .icons-container {
  display: block;
  height : 20px;
  border-bottom: 1px solid #EEE;
}

.UINavigationManager .icons-container .label-icons {
  width:80%;
  text-align: left;
  padding: 0px;
  margin: 0px 0px;
  float: left;
}

.UINavigationManager .icons-container .action-icons {
  width:20%;  
  text-align: right;
  float: right;
}

