.portal-login-portlet   {
  background: transparent;
  padding: 5px 1px 0px 0px;
}

.portal-login-portlet .UILogin {
  margin : 0px auto 1px auto ;
  color: #074B88;
  width : 100%;
  font:normal 10px Verdana;
}
  
.portal-login-portlet .UILogout td {
  color: #074B88;
  font: normal 12px Verdana;
  padding: 25px 0px 0px 0px;
}
  
.portal-login-portlet .UILogin table {
  border: none ;
}

.portal-login-portlet .UILogin label {
  padding-top: 5px;
}

.portal-login-portlet .UILogin input {
  width: 115px ;
  height : 18px;
  margin : 1px 1px 1px 0px ;
  padding : 1px auto 1px auto ;
  border:1px solid #808080;
}

.portal-login-portlet .UILogin a,
.portal-login-portlet .UILogout a {
  text-decoration: none ;
  color: #074B88;
}

.portal-login-portlet .UILogout img {
  vertical-align: bottom;
}
