<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SpagoBI Meta"
            id="it.eng.spagobi.meta">
      </category>
      <view
            allowMultiple="false"
            category="it.eng.spagobi.meta"
            class="it.eng.spagobi.meta.editor.views.BusinessModelView"
            icon="icons/spagobi.gif"
            id="it.eng.spagobi.meta.editor.BusinessModel"
            name="Business Model Editor"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="it.eng.spagobi.meta"
            class="it.eng.spagobi.meta.editor.views.PhysicalModelView"
            icon="icons/spagobi.gif"
            id="it.eng.spagobi.meta.editor.PhysicalModel"
            name="Physical Model Editor"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="it.eng.spagobi.meta"
            class="it.eng.spagobi.meta.editor.views.PropertiesView"
            icon="icons/spagobi.gif"
            id="it.eng.spagobi.meta.editor.Properties"
            name="Model Properties Editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.eng.spagobi.meta.editor.perspective.PerspectiveFactory"       icon="icons/spagobi.gif"
            id="it.eng.spagobi.meta.editor.perspective"
            name="SpagoBI Meta">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="it.eng.spagobi.meta.editor.action.CreatePhysicalModel"
            targetID="it.eng.spagobi.meta.editor.PhysicalModel">
         <action
               class="it.eng.spagobi.meta.editor.views.actions.CreatePhysicalModel"
               icon="icons/connection.png"
               id="it.eng.spagobi.meta.editor.action.CreatePhysicalModel"
               label="Create Physical Model"
               style="push"
               toolbarPath="additions"
               tooltip="Create physical model from connection">
         </action>
      </viewContribution>
      <viewContribution
            id="it.eng.spagobi.meta.editor.action.CreateBusinessModelFromPhysicalModel"
            targetID="it.eng.spagobi.meta.editor.BusinessModel">
         <action
               class="it.eng.spagobi.meta.editor.views.actions.CreateBusinessModelFromPhysicalModel"
               icon="icons/arrow.png"
               id="it.eng.spagobi.meta.editor.action.CreateBusinessModelFromPhysicalModel"
               label="Create Business Model from Physical Model Structure"
               style="push"
               toolbarPath="additions"
               tooltip="Create Business Model from Physical Model Structure">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="it.eng.spagobi.meta"
            name="SpagoBI Meta">
      </category>
      <wizard
            category="it.eng.spagobi.meta"
            class="it.eng.spagobi.meta.editor.wizards.NewSpagoBIMetaBusinessModelWizard"
            finalPerspective="it.eng.spagobi.meta.editor.perspective"
            icon="icons/spagobi.gif"
            id="it.eng.spagobi.meta.newSpagoBIMetaBusinessModelWizard"
            name="SpagoBI Meta Business Model"
            project="false">
      </wizard>
   </extension>

</plugin>
