	.group-view {
        
    }
        
    .group-view dd {
        float:left;
        width:300px;
        height:122px;
        margin:5px 5px 5px 10px;
        cursor:pointer;
        zoom:1;       
    }
    
    .group-view dd.over {
        background: #F5FDE3 url('../../../img/analiticalmodel/browser/sample-over-120x300.gif') no-repeat 0px 10px;
    }
    
    
    
    /* ============================================================= */
    /*	item icon layout					  			 		     */
    /* ============================================================= */
    
    .group-view .document-item-icon {
        margin:5px 0 0 5px;
        float:left;
        border: solid  #0000FF;
    }
    
    .group-view .document-item-icon img {
    	width:96px;
        height:96px;
        background-image:url('../../../img/analiticalmodel/browser/document.png')!important;
    }
    
    .group-view .document-item-icon .REPORT-icon {
    	width:96px;
        height:96px;
        background-image:url('../../../img/analiticalmodel/browser/report-document.png')!important;
    }
    
    .group-view .document-item-icon .OLAP-icon {
    	width:96px;
        height:96px;
        background-image:url('../../../img/analiticalmodel/browser/olap-document.png')!important;
    }
    
    .group-view .document-item-icon .CHART-icon {
    	width:96px;
        height:96px;
        background-image:url('../../../img/analiticalmodel/browser/chart-document.png')!important;
    }
    
    
    
    
    
    .group-view  #icon {
        width:96px;
        height:96px;
        margin:5px 0 0 5px;
        float:left;
    }
    
    .folder  {
		background-image: url('../../../img/analiticalmodel/browser/folder.png') !important;
	}
	
	.folder_home  {
		background-image: url('../../../img/analiticalmodel/browser/folder_home.png') !important;
	}
	
	.document  {
		background-image: url('../../../img/analiticalmodel/browser/document.png') !important;
	}
    
    /* ============================================================= */
    /*	item description layout					  			 		 */
    /* ============================================================= */
    
    .group-view .item-desc {
        float:left;
        width:160px;
        margin-left:10px;
        margin-top:5px;
       	/* border: thin  #0000FF; */
    }
    
    .group-view .field-label {
    	font-family:tahoma,arial,san-serif;
        font-size:11px;
        font-weight:bold;
     }
     
     /* ------------------------------------------------------------ */
     /*	layout customization on field name base  			 		 */
     /* -------------------------------------------------------------*/
     
     .group-view .item-desc #id .field-value  {
     	font-family:tahoma,arial,san-serif;
        color:#555;
        font-size:11px;
        font-weight:bold;
     }
     
     .group-view .item-desc #label .field-value  {
     	font-family:tahoma,arial,san-serif;
        color:#555;
        font-size:11px;
        font-weight:bold;
     }
     
     .group-view .item-desc #name .field-value  {
     	font-family:tahoma,arial,san-serif;
        color:#555;
        font-size:11px;
        font-weight:bold;
     }
     
     .group-view .item-desc #creationDate .field-label {
     	font-size:9px;
     	font-style: italic;
     }
          
     .group-view .item-desc #creationDate .field-value {
     	font-size:9px;
     	font-style: italic;     
     }
     
     /* -------------------------------------------------------------*/
     /* ============================================================= */
     
     
     
    
    .group-view #control-panel {
      height: 20px;
      width:298px;
      background-color:#F5FDE3;
      border: 1px solid #d4eaac;
      visibility: hidden;
    }
    .group-view #control-panel img {
      width:16px;
      height:16px;
      margin:2 2 2 2;
      float:right;
        
    }

    .group-view dd h4 {
        font-family:tahoma,arial,san-serif;
        color:#555;
        font-size:11px;
        font-weight:bold;
    }
    .group-view dd p {
        color:#777;
    }
    
    
    .group-view h2 {
        border-bottom: 2px solid #99bbe8;
        cursor:pointer;
        padding-top:6px;
    }
    .group-view h2 div {
        background:transparent url('../../../img/analiticalmodel/browser/group-expand-sprite.gif') no-repeat 3px -47px;
        padding:4px 4px 4px 17px;
        color:#3764a0;
        font:bold 11px tahoma, arial, helvetica, sans-serif;
    }
    .group-view .collapsed h2 div {
        background-position: 3px 3px;
    }
    .group-view .collapsed dl {
        display:none;
    }
    
    
    
   