  .group-view {
        
    }
        
    .group-view dd {
        float:left;
        width:300px;
        height:130px;
        margin:5px 5px 5px 10px;
        cursor:pointer;
        zoom:1;       
    }
    
    .group-view dd.over {
        background: #F5FDE3 url('../../../img/analiticalmodel/browser/sample-over-120x300.gif') no-repeat 0px 10px;
    }
    
    .group-view  #icon img {
        width:120px;
        height:90px;
        margin:5px 0 0 5px;
        float:left;
    }

    .group-view #description {
        float:left;
        width:160px;
        margin-left:10px;
        margin-top:5px;    
    }
    
    .group-view #control-panel {
      height: 20px;
      width:298px;
      background-color:#F5FDE3;
      border: 1px solid #d4eaac;
      visibility: hidden;
    }
    .group-view #control-panel img {
      width:16px;
      height:16px;
      margin:2 2 2 2;
      float:right;
        
    }

    .group-view dd h4 {
        font-family:tahoma,arial,san-serif;
        color:#555;
        font-size:11px;
        font-weight:bold;
    }
    .group-view dd p {
        color:#777;
    }
    
    
    .group-view h2 {
        border-bottom: 2px solid #99bbe8;
        cursor:pointer;
        padding-top:6px;
    }
    .group-view h2 div {
        background:transparent url('../../../js/lib/ext-2.0.1/resources/images/default/grid/group-expand-sprite.gif') no-repeat 3px -47px;
        padding:4px 4px 4px 17px;
        color:#3764a0;
        font:bold 11px tahoma, arial, helvetica, sans-serif;
    }
    .group-view .collapsed h2 div {
        background-position: 3px 3px;
    }
    .group-view .collapsed dl {
        display:none;
    }