<?xml version="1.0" encoding="ISO-8859-1"?>
<MENU>
	
	<APPLICATION code="DataSourceMan" 
	             title="#menu.DataSourceMan"  
	             functionality="DataSourceManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListDataSourcePage" 
	             width="800" 
	             height="350"
	             iconUrl="${SPAGOBI_CONTEXT}/img/tools/datasource/datasource16.png">
	</APPLICATION>
	<APPLICATION code="DataSetMan" 
	             title="#menu.DataSetMan"  
	             functionality="DatasetManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListDatasetPage" 
	             width="800" 
	             height="350"
	             iconUrl="${SPAGOBI_CONTEXT}/img/tools/dataset/dataset16.png">
	</APPLICATION>		
	<APPLICATION code="EngMan" 
	             title="#menu.EngMan"  
	             functionality="EnginesManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListEnginesPage" 
	             width="800" 
	             height="350"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/engines16.png">
	</APPLICATION>
	<APPLICATION code="FunctMan" 
	             title="#menu.FunctMan"  
	             functionality="FunctionalitiesManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=BIObjectsPage&amp;OPERATION=FUNCTIONALITIES_OPERATION" 
	             width="800" 
	             height="350"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/functionalities16.png">
	</APPLICATION>
	<APPLICATION code="LovMan" 
	             title="#menu.LovMan"  
	             functionality="LovsManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListLovsPage" 
	             width="800" 
	             height="350"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/lovs16.png">
	</APPLICATION>
	<APPLICATION code="ConstraintMan" 
	             title="#menu.ConstraintMan"  
	             functionality="ConstraintManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=LISTMODALITIESCHECKSPAGE" 
	             width="800" 
	             height="350"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/checks16.png">
	</APPLICATION>
	<APPLICATION code="ParameterMan" 
	             title="#menu.ParameterMan"  
	             functionality="ParameterManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListParametersPage" 
	             width="800" 
	             height="350"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/parameters16.png">
	</APPLICATION>
	<APPLICATION code="DocumentAdmin" 
	             title="#menu.DocumentAdmin"  
	             functionality="DocumentAdminManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=BIObjectsPage" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/bidocuments16.png">
	</APPLICATION>
	<APPLICATION code="DocumentDev" 
	             title="#menu.DocumentDev"  
	             functionality="DocumentDevManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=BIObjectsPage" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/bidocuments16.png">
	</APPLICATION>
	<APPLICATION code="DocumentTest" 
	             title="#menu.DocumentTest"  
	             functionality="DocumentTestManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=BIObjectsPage" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/bidocuments16.png">
	</APPLICATION>
	<APPLICATION code="DocumentExec" 
	             title="#menu.DocumentExec"  
	             functionality="DocumentUserManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=BIObjectsPage" 
	             modal="true" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/bidocuments16.png">
	</APPLICATION>
	<APPLICATION code="ImpExp" 
	             title="#menu.ImpExp"  
	             functionality="ImportExportManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=BIObjectsPage&amp;OPERATION=IMPORTEXPORT_OPERATION&amp;OBJECTS_VIEW=VIEW_OBJECTS_AS_TREE" 
	             width="800" 
	             height="450"
	             iconUrl="${SPAGOBI_CONTEXT}/img/tools/importexport/importexport16.png">
	</APPLICATION>
	<APPLICATION code="Sched" 
	             title="#menu.Scheduler"  
	             functionality="SchedulerManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=JobManagementPage&amp;MESSAGEDET=MESSAGE_GET_ALL_JOBS" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/scheduleIcon16.png">
	</APPLICATION>
	<APPLICATION code="RolesSynch" 
	             title="#menu.RolesSynch"  
	             functionality="SyncronizeRolesManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=DetailRolesPage&amp;MESSAGEDET=LIST_ROLES" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/rolesynch16.png">
	</APPLICATION>	
	<!--  <APPLICATION code="Events" 
	             title="#menu.Events"  
	             functionality="EventsManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=EVENTS_MONITOR_PAGE&amp;WEBMODE=TRUE" 
	             width="700" 
	             height="400"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/events64.png">
	</APPLICATION>-->
	<!--  <APPLICATION code="Worklist" 
	             title="#menu.Worklist"  
	             functionality="WorklistManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=WorkflowToDoListPage&amp;WEBMODE=TRUE" 
	             width="700" 
	             height="400"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/worklist64.png">
	</APPLICATION>-->
	<!-- <APPLICATION code="WorkExec" 
	             title="#menu.WorkExec"  
	             functionality="WorkspaceManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ExecutionWorkspacePage&amp;WEBMODE=TRUE" 
	             modal="true" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/workspace64.png">
	</APPLICATION> -->
	
	<!-- <APPLICATION code="MapCat" 
	             title="#menu.MapCat"  
	             functionality="MapCatalogue" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?ACTION_NAME=START_SBI_MAP_CATALOGUE" 
	             modal="false" 
	             width="750" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/map64.png">
	</APPLICATION>          -->
	
	<APPLICATION code="MapCat" 
	             title="#menu.MapCat"  
	             functionality="MapCatalogueManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListMapsPage" 
	             modal="false" 
	             width="750" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/mapcatalogue/maps16.png">
	</APPLICATION>

	<APPLICATION code="FeatureMapCat" 
	             title="#menu.FeatureMapCat"  
	             functionality="MapFeaturesManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListFeaturesPage" 
	             modal="false" 
	             width="750" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/mapcatalogue/featureManagement16.png">
	</APPLICATION>

	<APPLICATION code="MenuConfiguration" 
	             title="#menu.menuconfiguration"  
	             functionality="MenuManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=MenuConfigurationPage" 
	             modal="false" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/wapp/menu16.png">
	</APPLICATION>
	
	<APPLICATION code="DistributionListList" 
	             title="#menu.DistributionListList"  
	             functionality="DistributionListManagement" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListDistributionListPage" 
	             modal="false" 
	             width="750" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/tools/distributionlist/distributionlist16.png">
	</APPLICATION>
	
	<!--<APPLICATION code="DistributionListUser" 
	             title="#menu.DistributionListUser"  
	             functionality="DistributionListUser" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListDistributionListUserPage" 
	             modal="false" 
	             width="750" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/tools/distributionlist/distributionlistuser.png">  
	</APPLICATION>-->
	
	<!-- <APPLICATION code="HotLink" 
	             title="#menu.HotLink"  
	             functionality="DocumentExecution" 
	             type="link" 
	             link="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=HOT_LINK_PAGE&amp;OPERATION=GET_HOT_LINK_LIST" 
	             modal="true" 
	             width="800" 
	             height="500"
	             iconUrl="${SPAGOBI_CONTEXT}/img/analiticalmodel/icon-setlog.gif">
	</APPLICATION> -->
	
	<!-- 
	<VIEW code="MonitorView" 
	      title="Monitor"  
	      role="Administrator" 
	      width="800" 
	      height="450"
	      iconUrl="${SPAGOBI_CONTEXT}/img/wapp/monitorView64.png">
	      <CONTAINERS>
		      <CONTAINER id="cont1" width="44%" height="44%" top="3%" left="3%" style="float:left;">
		      	<TAB title="first tab" id="tab1">
		      		<SBIDOCUMENT documentLabel="DASH_STORE_EFF" parameters=""/>
		      	</TAB>
		      	<TAB title="second tab" id="tab2" >
		      		<SBIDOCUMENT documentLabel="TOP_PRODUCTS" parameters=""/>
		      	</TAB>
		      </CONTAINER>
		      <CONTAINER id="cont2" width="44%" height="44%" top="3%" left="53%" style="float:left;">
		      	<TAB title="Questo e un titolo lungo" id="tab1" >
		      		<SBIDOCUMENT documentLabel="DASH_EFFORT" parameters=""/>
		      	</TAB>	
		      </CONTAINER>
		      <CONTAINER id="cont3" width="94%" height="44%" top="53%" left="3%" style="clear:left;">
		      	<TAB title="Anche Questo e un titolo lungo" id="tab1" >
		      		<SBIDOCUMENT documentLabel="DASH_HEALTH" parameters=""/> 
		      	</TAB>	
		      </CONTAINER>
		  </CONTAINERS>
	</VIEW>
	-->
	
</MENU>