.icon-remove {
	background-image: url('../../../img/erase.png') !important;
}

.icon-execute {
	background-image: url('../../../img/exec16.png') !important;
}

.icon-refresh {
	background-image: url('../../../img/refresh16.png') !important;
}

.execution-toolbar {
     background-color: grey;
}