<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="SpagoBIQbeEngine"
		 xmlns="http://java.sun.com/xml/ns/j2ee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
		 version="2.4">

	<display-name>QBE</display-name>
	<description>
		Spago BI - Query By Example Web Version
	</description>
	

	
	<!--  ============================================================================ -->
	<!--  FILTERS								 									   -->
	<!--  ============================================================================ -->
	<!-- 
	<filter>
		<filter-name>CAS_Filter</filter-name>
		<filter-class>
			edu.yale.its.tp.cas.client.filter.CASFilter
		</filter-class>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.loginUrl
			</param-name>
			<param-value>
				https://localhost:8443/exo-cas-2/login
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.validateUrl
			</param-name>
			<param-value>
				https://localhost:8443/exo-cas-2/serviceValidate
			</param-value>
		</init-param>
    <init-param>
       <param-name>edu.yale.its.tp.cas.client.filter.serverName</param-name>
       <param-value>localhost:8443</param-value>
    </init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.proxyCallbackUrl
			</param-name>
			<param-value>
				https://localhost:8443/SpagoBIQbeEngine/proxyReceptor
			</param-value>
		</init-param>	
	
	</filter>
 -->
	
	<filter>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<filter-class>
			it.eng.spagobi.utilities.filters.SpagoBIAccessFilter
		</filter-class>
	</filter>
	
	<!--  ============================================================================ -->
	<!--  FILTER MAPPINGS						 									   -->
	<!--  ============================================================================ -->

<!-- 
	<filter-mapping>
		<filter-name>CAS_Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 -->
	
	<filter-mapping>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

	<!--  ============================================================================ -->
	<!--  SERVLETS								 									   -->
	<!--  ============================================================================ -->
  	
	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>it.eng.spago.configuration.ConfigServlet</servlet-class>
		 
		<init-param>
			<param-name>AF_CONFIG_FILE</param-name>
			<param-value>\WEB-INF\conf\master.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>AdapterHTTP</servlet-name>
		<servlet-class>it.eng.spago.dispatching.httpchannel.AdapterHTTP</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>it.eng.qbe.services.ReportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SpagoBIDrillServlet</servlet-name>
        <servlet-class>it.eng.spagobi.utilities.callbacks.drill.SpagoBIDrillServlet</servlet-class>
    </servlet>
    
    <servlet>
  		<servlet-name>ProxyTicketReceptor</servlet-name> 
  		<servlet-class>edu.yale.its.tp.cas.proxy.ProxyTicketReceptor</servlet-class> 
		<init-param>
  			<param-name>edu.yale.its.tp.cas.proxyUrl</param-name> 
  			<param-value>https://localhost:8443/exo-cas-2/proxy</param-value> 
  		</init-param>
  	</servlet>
    
    
    <!--  ============================================================================ -->
	<!--  SERVLET MAPPINGS						 									   -->
	<!--  ============================================================================ -->

	<servlet-mapping>
        <servlet-name>SpagoBIDrillServlet</servlet-name>
        <url-pattern>/SpagoBIDrillServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>AdapterHTTP</servlet-name>
		<url-pattern>/servlet/AdapterHTTP</url-pattern>
	</servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
  		<servlet-name>ProxyTicketReceptor</servlet-name> 
  		<url-pattern>/proxyReceptor</url-pattern> 
  	</servlet-mapping> 
    
    
    
    
	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	  <error-page>
	  	<exception-type>java.lang.Throwable</exception-type>
	  	<location>/html/error.html</location>
	  </error-page>
		 
	  <error-page>
	  	<error-code>404</error-code>
	  	<location>/html/error.html</location>
	  </error-page>
  
	  <error-page>
	  	<error-code>500</error-code>
	  	<location>/html/error.html</location>
	  </error-page>
	
</web-app>
