.spagobistyleLS-portlet .UILanguageSelector .container {
	font-size:11px;
	color:#3c546e;
	padding-right:2px;
}

.spagobistyleLS-portlet .UILanguageSelector .container img{
	vertical-align: middle;
	margin-right:3px;
	border:0px
}

.spagobistyleLS-portlet .UILanguageSelector .container .select-language{
	border:solid 1px #a3abb6;
	font-weight:bold;
}

.spagobistyleLS-portlet .UILanguageSelector .container .select-language a{
	font-weight:bold;
	text-decoration:none;
	color:#3c546e;
}

.spagobistyleLS-portlet .UILanguageSelector .container .select-language .left{
	width:1px;
	line-height:25px;
	background:url('/resources/community/images/background-1x25.gif') top;
}

.spagobistyleLS-portlet .UILanguageSelector .container .select-language .center{
	cursor:hand;
  cursor:pointer;
	margin:0px 1px;
	line-height:25px;
/*	height:25px; appear bug on IE Browser */
	vertical-align:middle;
	background:url('/resources/community/images/background-1x25.gif') top;
}

.spagobistyleLS-portlet .UILanguageSelector  .container .select-language .right{
	width:1px;
	line-height:25px;
	background:url('/resources/community/images/background-1x25.gif') top;
}

.spagobistyleLS-portlet .UILanguageSelector  .container .options{
	margin-top:2px;
	padding:5px 2px;
	background:url('/resources/community/images/background-1x100.gif');
	border:solid 1px #a3abb6;
}

.spagobistyleLS-portlet .UILanguageSelector  .container .option{
	margin:2px 0px;
}

.spagobistyleLS-portlet .UILanguageSelector  .container .option a{
	color:#3c546e;
  text-decoration:none;
}

.spagobistyleLS-portlet .UILanguageSelector  .container .option a:hover{
	color:orange;
}
