.spagobistyleRSS-portlet {
  font-family: "Arial", "Tahoma", "Helvetica", "sans-serif";
  background-color: #f7f9f9;
  padding:5px;
  margin-top:4px;
  border: 1px solid gray;
  color:#523a82;
  padding-bottom:50px;
}

.spagobistyleRSS-portlet .title {
  color: #4b5b8b;
  font-size: 15px; 
  font-weight: bold ;
  margin-top:5px;
  margin-bottom:20px;
}

.spagobistyleRSS-portlet .body ul {
  list-style-image: url("/web/images/icons/page-16x16.gif");
}

.spagobistyleRSS-portlet .body a {
  text-decoration: none ;
  color: #6e8491;
  font-size: 10pt; font-weight: bold ;
}

.spagobistyleRSS-portlet .body .description {
  text-decoration: none ;
  color: #7d7d7d;
  font-size: 8pt;
}

.spagobistyleRSS-portlet .footer {
  float: right;
}
