<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>
			com.tensegrity.wpalo.server.filter.NoCacheFilter
		</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>private,no-cache,no-store</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	
<!--  SERVLETS  -->	
	<servlet>
		<servlet-name>wpalo-service</servlet-name>
		<servlet-class>
			com.tensegrity.wpalo.server.WPaloServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wpalo-property-service</servlet-name>
		<servlet-class>
			com.tensegrity.wpalo.server.WPaloPropertyServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wpalo-controller</servlet-name>
		<servlet-class>
			com.tensegrity.wpalo.server.services.wpalo.WPaloControllerServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wpalo-admin-service</servlet-name>
		<servlet-class>
			com.tensegrity.wpalo.server.services.admin.AdminServiceImpl			
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wpalo-cubeview-service</servlet-name>
		<servlet-class>
			com.tensegrity.wpalo.server.services.cubeview.WPaloCubeViewServiceImpl			
		</servlet-class>
	</servlet>
	<servlet>
			<servlet-name>wpalo-folder-service</servlet-name>
		<servlet-class>
			com.tensegrity.wpalo.server.services.folder.WPaloFolderServiceImpl			
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.tensegrity.wpalo.server.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>remoteLoggingServiceImpl</servlet-name>
	  <servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JPaloEngineStartServlet</servlet-name>
		<servlet-class>
			JPaloEngineStartServlet
		</servlet-class>
	</servlet>
<!--  MAPPING  -->
	<servlet-mapping>
        <servlet-name>JPaloEngineStartServlet</servlet-name>
        <url-pattern>/com.tensegrity.wpalo.SpagoBIJPaloEngine/JPaloEngineStartServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
	  <servlet-name>remoteLoggingServiceImpl</servlet-name>
	  <url-pattern>/com.tensegrity.wpalo.SpagoBIJPaloEngine/logging</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wpalo-service</servlet-name>
		<url-pattern>
			/com.tensegrity.wpalo.SpagoBIJPaloEngine/wpalo-service
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wpalo-property-service</servlet-name>
		<url-pattern>
			/com.tensegrity.wpalo.SpagoBIJPaloEngine/wpalo-property-service
		</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>wpalo-controller</servlet-name>
		<url-pattern>
			/com.tensegrity.wpalo.SpagoBIJPaloEngine/wpalo-controller
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wpalo-cubeview-service</servlet-name>
		<url-pattern>
			/com.tensegrity.wpalo.SpagoBIJPaloEngine/wpalo-cubeview-service
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wpalo-folder-service</servlet-name>
		<url-pattern>
			/com.tensegrity.wpalo.SpagoBIJPaloEngine/wpalo-folder-service
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wpalo-admin-service</servlet-name>
		<url-pattern>
			/com.tensegrity.wpalo.SpagoBIJPaloEngine/wpalo-admin-service
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>DownloadServlet</servlet-name>
	    <url-pattern>/com.tensegrity.wpalo.SpagoBIJPaloEngine/wpalo-download.srv</url-pattern>
	</servlet-mapping>


</web-app>